/*
*.iml
.DS_Store
!.editorconfig
!.gitignore
!/ija/
!/ija/ija2022
!/ija/ija2022/homework2
!/lib/
!/lib/*
!/data/
!/data/*
!/src/
!/src/*
!/src/game/
!/src/game/*
!/src/tool/
!/src/tool/*
!/ija/ija2022/homework2/common/
!/ija/ija2022/homework2/common/*

!ijatool.jar
!junit-platform-console-standalone-1.6.0.jar
!run.txt
