/*
*.iml
!.editorconfig
!.gitignore
!/ija/
!/ija/ija2022
!/ija/ija2022/homework2
!/ija/ija2022/homework2/game/
!/ija/ija2022/homework2/game/*
!/ija/ija2022/homework2/common/
!/ija/ija2022/homework2/common/*

!ijatool.jar
!junit-platform-console-standalone-1.6.0.jar
!run.txt
